<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finemanagement.dao.production.SysPlantDao" > 
<resultMap id="BaseResultMap" type="com.finemanagement.entity.production.SysPlant" >
	<result column="id" property="id"/>
	<result column="greenhouseid" property="greenhouseid"/>
	<result column="baseid" property="baseid"/>
	<result column="variety" property="variety"/>
	<result column="varietyid" property="varietyid"/>
	<result column="plantArea" property="plantArea"/>
	<result column="plantationMember" property="plantationMember"/>
	<result column="technician" property="technician"/>
	<result column="wages" property="wages"/>
	<result column="startTime" property="startTime"/>
	<result column="endTime" property="endTime"/>
	<result column="remark" property="remark"/>
	<result column="plantationMemberName" property="plantationMemberName"/>
	<result column="technicianName" property="technicianName"/>
	<result column="basePhone" property="basePhone"/>
	<result column="greenhouseType" property="greenhouseType"/>
</resultMap>

<sql id="Base_Column_List" >
	m.id,m.greenhouseid,m.baseid,m.varietyid,m.plantArea,m.plantationMember,m.technician,m.wages,m.startTime,m.endTime,m.remark
</sql>

<sql id="Example_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null and id > 0" >
			and m.id = #{id}
		</if>
		<if test="greenhouseid != null and greenhouseid > 0" >
		    and m.greenhouseid = #{greenhouseid}
		</if>
		<if test="baseid != null and baseid > 0" >
		    and m.baseid = #{baseid}
		</if>
		<if test="plantArea != null and plantArea != ''" >
		    and m.plantArea = #{plantArea}
		</if>
		<if test="plantationMember != null and plantationMember > 0" >
		    and m.plantationMember = #{plantationMember}
		</if>
		<if test="technician != null and technician > 0" >
		    and m.technician = #{technician}
		</if>
		<if test="wages != null and wages != ''" >
		    and m.wages = #{wages}
		</if>
		<if test="startTime != null and startTime != ''" >
		    and m.startTime = #{startTime}
		</if>
		<if test="startStartTime != null and startStartTime != ''" >
		    and m.startTime &gt;= #{startStartTime}
		</if>
		<if test="endStartTime != null and endStartTime != ''" >
		    and m.startTime &lt;= #{endStartTime}
		</if>
		<if test="endTime != null and endTime != ''" >
		    and m.endTime = #{endTime}
		</if>
		<if test="remark != null and remark != ''" >
		    and m.remark = #{remark}
		</if>
		<if test="sysid != null and sysid != ''" >
		    and var.sysid = #{sysid}
		</if>
	</trim>
</sql>

<insert id="add" parameterType="Object" >
	insert into sys_plant(greenhouseid,baseid,varietyid,plantArea,plantationMember,technician,wages,startTime,endTime,remark)
	values(#{greenhouseid},#{baseid},#{varietyid},#{plantArea},#{plantationMember},#{technician},#{wages},#{startTime},#{endTime}
	,#{remark})
</insert>

<update id="updateBySelective" parameterType="Object" >
	update sys_plant set 
	<trim suffixOverrides="," >
		<if test="greenhouseid != null and greenhouseid > 0 ">
			greenhouseid=#{greenhouseid},
		</if>
		<if test="baseid != null and baseid > 0 ">
			baseid=#{baseid},
		</if>
		<if test="varietyid != null and varietyid > 0 ">
			varietyid=#{varietyid},
		</if>
		<if test="plantArea != null and plantArea != '' ">
			plantArea=#{plantArea},
		</if>
		<if test="plantationMember != null and plantationMember > 0 ">
			plantationMember=#{plantationMember},
		</if>
		<if test="technician != null and technician > 0 ">
			technician=#{technician},
		</if>
		<if test="wages != null and wages != '' ">
			wages=#{wages},
		</if>
		<if test="startTime != null and startTime != '' ">
			startTime=#{startTime},
		</if>
		<if test="endTime != null and endTime != '' ">
			endTime=#{endTime},
		</if>
		<if test="remark != null and remark != '' ">
			remark=#{remark},
		</if>
	</trim> where id=#{id}
</update>

<delete id="delete" parameterType="Object">
	delete from sys_plant where id = #{id}
</delete>

<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/>,u1.employeeName as plantationMemberName,u2.employeeName as technicianName,
	b.phoneNo as basePhone,type.greenhouseName as greenhouseType,var.varietyName as variety from sys_plant m 
	left join sys_employees u1 on u1.id = m.plantationMember
	left join sys_employees u2 on u2.id = m.technician
	left join sys_base b on m.baseid = b.id
	left join sys_greenhouse g on m.greenhouseid = g.id
	left join sys_greenhouse_type type on g.typeid = type.id
	left join sys_variety var on var.id = m.varietyid where m.id = #{id}
</select>

<select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/>,u1.employeeName as plantationMemberName,u2.employeeName as technicianName,
	b.phoneNo as basePhone,type.greenhouseName as greenhouseType,var.varietyName as variety from sys_plant m 
	left join sys_employees u1 on u1.id = m.plantationMember
	left join sys_employees u2 on u2.id = m.technician
	left join sys_base b on m.baseid = b.id
	left join sys_greenhouse g on m.greenhouseid = g.id
	left join sys_greenhouse_type type on g.typeid = type.id
	left join sys_variety var on var.id = m.varietyid
	<include refid="Example_Where_Clause"/> 
</select>

<select id="queryDataByList" resultMap="BaseResultMap" parameterType="Object">
	select distinct var.id,var.varietyName as variety from sys_variety var 
	left join sys_plant m on var.id = m.varietyid
	<include refid="Example_Where_Clause"/> 
</select>

<select id="queryByStatistics" resultMap="BaseResultMap" parameterType="Object">
	select * from vw_graph_pick m <include refid="Example_Where_Clause"/> 
</select>
<select id="queryByYearList" resultMap="BaseResultMap" parameterType="Object">
select * from vw_graph_plant_year m  
<include refid="Example_Where_Clause"/> 
<if test="pager.orderCondition != null and pager.orderCondition != ''" >
${pager.orderCondition}
</if>
</select>

<select id="queryByMonthList" resultMap="BaseResultMap" parameterType="Object">
select * from vw_graph_plant_month m  
<include refid="Example_Where_Clause"/> 
<if test="pager.orderCondition != null and pager.orderCondition != ''" >
${pager.orderCondition}
</if>
</select>

<select id="queryByDateList" resultMap="BaseResultMap" parameterType="Object">
select * from vw_graph_plant_date m  
<include refid="Example_Where_Clause"/> 
<if test="pager.orderCondition != null and pager.orderCondition != ''" >
${pager.orderCondition}
</if>
</select>
</mapper>