<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finemanagement.dao.production.SysInputsBreedDao" > 
<resultMap id="BaseResultMap" type="com.finemanagement.entity.production.SysInputsBreed" >
	<result column="id" property="id"/>
	<result column="productid" property="productid"/>
	<result column="inputName" property="inputName"/>
	<result column="classname" property="classname"/>
	<result column="unit" property="unit"/>
	<result column="specifications" property="specifications"/>
	<result column="brandName" property="brandName"/>
	<result column="mfName" property="mfName"/>
	<result column="remark" property="remark"/>
	<result column="purchaseCount" property="purchaseCount"/>
	<result column="unitPrice" property="unitPrice"/>
	<result column="productNo" property="productNo"/>
	<result column="fowleryid" property="fowleryid"/>
	<result column="baseid" property="baseid"/>
	<result column="startTime" property="startTime"/>
	<result column="breeder" property="breeder"/>
	<result column="breedTechnician" property="breedTechnician"/>
	<result column="breederName" property="breederName"/>
	<result column="breedTechnicianName" property="breedTechnicianName"/>
	<result column="isoutstore" property="isoutstore"/>
</resultMap>

<sql id="Base_Column_List" >
	m.id,m.productid,m.inputName,m.classname,m.unit,m.specifications,m.brandName,m.mfName,m.remark,m.purchaseCount,
	m.unitPrice,m.fowleryid,m.baseid,m.startTime,m.breeder,m.breedTechnician,m.isoutstore
</sql>

<sql id="Example_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null" >
			and m.id = #{id}
		</if>
		<if test="fowleryid != null and fowleryid > 0" >
		    and m.fowleryid = #{fowleryid}
		</if>
		<if test="baseid != null and baseid > 0" >
		    and m.baseid = #{baseid}
		</if>
		<if test="productid != null and productid != ''" >
		    and m.productid = #{productid}
		</if>
		<if test="inputName != null" >
		    and m.inputName = #{inputName}
		</if>
		<if test="classname != null and classname != ''" >
		    and m.classname = #{classname}
		</if>
		<if test="unit != null" >
		    and m.unit = #{unit}
		</if>
		<if test="specifications != null" >
		    and m.specifications = #{specifications}
		</if>
		<if test="brandName != null and brandName != ''" >
		    and m.brandName = #{brandName}
		</if>
		<if test="mfName != null and mfName != ''" >
		    and m.mfName = #{mfName}
		</if>
		<if test="remark != null and remark != ''" >
		    and m.remark = #{remark}
		</if>
		<if test="purchaseCount != null and purchaseCount != ''" >
		    and m.purchaseCount = #{purchaseCount}
		</if>
		<if test="unitPrice != null and unitPrice != ''" >
		    and m.unitPrice = #{unitPrice}
		</if>
		<if test="startTime != null and startTime != ''" >
		    and m.startTime = #{startTime}
		</if>
		<if test="startStartTime != null and startStartTime != ''" >
		    and m.startTime &gt;= #{startStartTime}
		</if>
		<if test="endStartTime != null and endStartTime != ''" >
		    and m.startTime &lt;= #{endStartTime}
		</if>
		<if test="breeder != null and breeder > 0" >
		    and m.breeder = #{breeder}
		</if>
		<if test="breedTechnician != null and breedTechnician > 0" >
		    and m.breedTechnician = #{breedTechnician}
		</if>
		<if test="isoutstore != null and isoutstore != ''" >
		    and m.isoutstore = #{isoutstore}
		</if>
	</trim>
</sql>

<insert id="add" parameterType="Object" >
	insert into sys_inputs_breed(productid,inputName,classname,unit,specifications,brandName,mfName,remark,purchaseCount,unitPrice
	,fowleryid,baseid,startTime,breeder,breedTechnician,isoutstore)
	values(#{productid},#{inputName},#{classname},#{unit},#{specifications},#{brandName},#{mfName},#{remark},#{purchaseCount}
	,#{unitPrice},#{fowleryid},#{baseid},#{startTime},#{breeder},#{breedTechnician},'0')
</insert>

<update id="updateBySelective" parameterType="Object" >
	update sys_inputs_breed set 
	<trim suffixOverrides="," >
		<if test="productid != null and productid != '' ">
			productid=#{productid},
		</if>
		<if test="inputName != null  ">
			inputName=#{inputName},
		</if>
		<if test="classname != null  ">
			classname=#{classname},
		</if>
		<if test="unit != null  ">
			unit=#{unit},
		</if>
		<if test="specifications != null  ">
			specifications=#{specifications},
		</if>
		<if test="brandName != null  ">
			brandName=#{brandName},
		</if>
		<if test="mfName != null and mfName != '' ">
			mfName=#{mfName},
		</if>
		<if test="remark != null and remark != '' ">
			remark=#{remark},
		</if>
		<if test="purchaseCount != null and purchaseCount != '' ">
			purchaseCount=#{purchaseCount},
		</if>
		<if test="unitPrice != null and unitPrice != '' ">
			unitPrice=#{unitPrice},
		</if>
		<if test="startTime != null and startTime != '' ">
			startTime=#{startTime},
		</if>
		<if test="breeder != null and breeder > 0 ">
			breeder=#{breeder},
		</if>
		<if test="breedTechnician != null and breedTechnician > 0 ">
			breedTechnician=#{breedTechnician},
		</if>
	</trim> where id=#{id}
</update>

<delete id="delete" parameterType="Object">
	delete from sys_inputs_breed where id = #{id}
</delete>

<!-- 根据id查询 系统角色 -->
<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/>,pro.productNo,u1.employeeName as breederName,u2.employeeName as breedTechnicianName  
	from sys_inputs_breed m left join sys_product pro on pro.id = m.productid
	left join sys_employees u1 on u1.id = m.breeder
	left join sys_employees u2 on u2.id = m.breedTechnician where m.id = #{id}
</select>

<select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/>,pro.productNo,u1.employeeName as breederName,u2.employeeName as breedTechnicianName  
	from sys_inputs_breed m left join sys_product pro on pro.id = m.productid
	left join sys_employees u1 on u1.id = m.breeder
	left join sys_employees u2 on u2.id = m.breedTechnician
	<include refid="Example_Where_Clause"/> 
</select>
</mapper>