<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finemanagement.dao.production.SysVarietyDao" > 
<resultMap id="BaseResultMap" type="com.finemanagement.entity.production.SysVariety" >
	<result column="id" property="id"/>
	<result column="varietyName" property="varietyName"/>
	<result column="sysid" property="sysid"/>
</resultMap>

<sql id="Base_Column_List" >
	m.id,m.varietyName,m.sysid
</sql>

<sql id="Example_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null" >
			and id = #{id}
		</if>
		<if test="varietyName != null and varietyName != ''" >
		    and varietyName = #{varietyName}
		</if>
		<if test="sysid != null and sysid != ''" >
		    and sysid = #{sysid}
		</if>
	</trim>
</sql>

<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> from sys_variety m  where m.id = #{id}
</select>

<select id="queryDataByList" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/> from sys_variety m <include refid="Example_Where_Clause"/> 
</select>
</mapper>