<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finemanagement.dao.pick.SysPickDao" > 
<resultMap id="BaseResultMap" type="com.finemanagement.entity.pick.SysPick" >
	<result column="id" property="id"/>
	<result column="plantid" property="plantid"/>
	<result column="baseid" property="baseid"/>
	<result column="greehouseid" property="greehouseid"/>
	<result column="requiredquantity" property="requiredquantity"/>
	<result column="grade" property="grade"/>
	<result column="completetime" property="completetime"/>
	<result column="releasetime" property="releasetime"/>
	<result column="harvesttime" property="harvesttime"/>
	<result column="numberharvest" property="numberharvest"/>
	<result column="unitprice" property="unitprice"/>
	<result column="amt" property="amt"/>
	<result column="harveststaff" property="harveststaff"/>
	<result column="inspectionstaff" property="inspectionstaff"/>
	<result column="remark" property="remark"/>
	<result column="greenhousename" property="greenhousename"/>
	<result column="baseName" property="baseName"/>
	<result column="uuid" property="uuid"/>
</resultMap>

<sql id="Base_Column_List" >
	m.id,m.plantid,m.baseid,m.greehouseid,m.requiredquantity,m.grade,m.completetime,m.releasetime,m.harvesttime,
	m.numberharvest,m.unitprice,m.amt,m.harveststaff,m.inspectionstaff,m.remark,m.uuid
</sql>

<sql id="Example_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="plantid != null and plantid > 0 ">
			and m.plantid = #{plantid}
		</if>
		<if test="baseid != null and baseid != ''" >
		    and m.baseid = #{baseid}
		</if>
		<if test="greehouseid != null and greehouseid !=''" >
		    and m.greehouseid = #{greehouseid}
		</if>
		<if test="syssign != null and syssign !=''" >
		    and m.syssign = #{syssign}
		</if>
		<if test="startCompletetime != null and startCompletetime !=''" >
		    and m.completetime &gt;= #{startCompletetime}
		</if>
		<if test="endCompletetime != null and endCompletetime !=''" >
		    and m.completetime &lt;= #{endCompletetime}
		</if>
		<if test="startHarvesttime != null and startHarvesttime !=''" >
		    and m.harvesttime &gt;= #{startHarvesttime}
		</if>
		<if test="endHarvesttime != null and endHarvesttime !=''" >
		    and m.harvesttime &lt;= #{endHarvesttime}
		</if>
	</trim>
</sql>

<insert id="add" parameterType="Object" >
	insert into sys_picking(plantid,baseid,greehouseid,requiredquantity,grade,completetime,releasetime,harvesttime,
	numberharvest,unitprice,amt,harveststaff,inspectionstaff,remark,syssign,sysid,uuid)
	values(#{plantid},#{baseid},#{greehouseid},#{requiredquantity},#{grade},#{completetime},#{releasetime},#{harvesttime},
	#{numberharvest},#{unitprice},#{amt},#{harveststaff},#{inspectionstaff},#{remark},#{syssign},#{sysid},#{uuid})
</insert>

<update id="updateBySelective" parameterType="Object" >
	update sys_picking set 
	<trim suffixOverrides="," >
		<if test="plantid != null and plantid > 0" >
		    plantid = #{plantid},
		</if>
		<if test="baseid != null and baseid > 0" >
		    baseid = #{baseid},
		</if>
		<if test="greehouseid != null and greehouseid > 0" >
		    greehouseid = #{greehouseid},
		</if>
		<if test="requiredquantity != null and requiredquantity != ''" >
		    requiredquantity = #{requiredquantity},
		</if>
		<if test="grade != null and grade != ''" >
		    grade = #{grade},
		</if>
		<if test="completetime != null and completetime != ''" >
		    completetime = #{completetime},
		</if>
		<if test="releasetime != null and releasetime != ''" >
		    releasetime = #{releasetime},
		</if>
		<if test="harvesttime != null and harvesttime != ''" >
		    harvesttime = #{harvesttime},
		</if>
		<if test="numberharvest != null and numberharvest != ''" >
		    numberharvest = #{numberharvest},
		</if>
		<if test="unitprice != null and unitprice != ''" >
		    unitprice = #{unitprice},
		</if>
		<if test="harveststaff != null and harveststaff != ''" >
		    harveststaff = #{harveststaff},
		</if>
		<if test="inspectionstaff != null and inspectionstaff != ''" >
		    inspectionstaff = #{inspectionstaff},
		</if>
		<if test="remark != null and remark != ''" >
		    remark = #{remark},
		</if>
	</trim> where id=#{id}
</update>

<delete id="delete" parameterType="Object">
	delete from sys_picking where id = #{id}
</delete>

<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/>,p.varietyName as variety,b.baseName,g.name as greenhousename from sys_picking m 
	left join sys_variety p on p.id = m.plantid
	left join sys_base b on m.baseid = b.id
	left join sys_greenhouse g on m.greehouseid = g.id
	where m.id = #{id}
</select>

<select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/>,p.varietyName as variety,b.baseName,g.name as greenhousename from sys_picking m 
	left join sys_variety p on p.id = m.plantid
	left join sys_base b on m.baseid = b.id
	left join sys_greenhouse g on m.greehouseid = g.id
	<include refid="Example_Where_Clause"/>
</select>

<insert id="addFile" parameterType="Object" >
	insert into Attachment(RelationNO,FileName,Url,TableName,CreateTime)
	values(#{RelationNO},#{FileName},#{Url},#{TableName},#{CreateTime})
</insert>

<select id="queryFileByNo" resultMap="BaseResultMap" parameterType="Object">
	select ID,RelationNO,FileName,Url,TableName,CreateTime from Attachment m where RelationNO = #{RelationNO}
</select>

<delete id="deleteFileByID" parameterType="Object">
	delete from Attachment where ID = #{id}
</delete>

<select id="queryByStatistics" resultMap="BaseResultMap" parameterType="Object">
	select * from vw_graph_pick m <include refid="Example_Where_Clause"/> 
</select>

<select id="queryByYearList" resultMap="BaseResultMap" parameterType="Object">
select * from vw_graph_pick_year m  
<include refid="Example_Where_Clause"/> 
<if test="pager.orderCondition != null and pager.orderCondition != ''" >
${pager.orderCondition}
</if>
</select>

<select id="queryByMonthList" resultMap="BaseResultMap" parameterType="Object">
select * from vw_graph_pick_month m  
<include refid="Example_Where_Clause"/> 
<if test="pager.orderCondition != null and pager.orderCondition != ''" >
${pager.orderCondition}
</if>
</select>

<select id="queryByDateList" resultMap="BaseResultMap" parameterType="Object">
select * from vw_graph_pick_date m  
<include refid="Example_Where_Clause"/> 
<if test="pager.orderCondition != null and pager.orderCondition != ''" >
${pager.orderCondition}
</if>
</select>
</mapper>