<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finemanagement.dao.slaughter.SysAcidDao" > 
<resultMap id="BaseResultMap" type="com.finemanagement.entity.slaughter.SysAcid" >
	<result column="id" property="id"/>
	<result column="acidBatch" property="acidBatch"/>
	<result column="slaughterBatchId" property="slaughterBatchId"/>
	<result column="slaughterQuantity" property="slaughterQuantity"/>
	<result column="acidNo" property="acidNo"/>
	<result column="principal" property="principal"/>
	<result column="startTime" property="startTime"/>
	<result column="endTime" property="endTime"/>
	<result column="remark" property="remark"/>
	<result column="slaughterBatch" property="slaughterBatch"/>
	<result column="createTime" property="createTime"/>
</resultMap>

<sql id="Base_Column_List" >
	m.id,m.acidBatch,m.slaughterBatchId,m.slaughterQuantity,m.acidNo,m.principal,m.startTime,m.endTime,m.createTime,m.remark
</sql>

<sql id="Example_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null" >
			and m.id = #{id}
		</if>
		<if test="acidBatch != null and acidBatch != ''" >
		    and m.acidBatch like '%'+#{acidBatch}+'%'
		</if>
		<if test="slaughterBatchId != null and slaughterBatchId > 0" >
		    and m.slaughterBatchId = #{slaughterBatchId}
		</if>
		<if test="slaughterQuantity != null and slaughterQuantity != ''" >
		    and m.slaughterQuantity = #{slaughterQuantity}
		</if>
		<if test="acidNo != null and acidNo != ''" >
		    and m.acidNo = #{acidNo}
		</if>
		<if test="principal != null and principal != ''" >
		    and m.principal = #{principal}
		</if>
		<if test="startTime != null and startTime != ''" >
		    and m.startTime = #{startTime}
		</if>
		<if test="endTime != null and endTime != ''" >
		    and m.endTime = #{endTime}
		</if>
		<if test="createTime != null and createTime != ''" >
		    and m.createTime = #{createTime}
		</if>
		<if test="remark != null and remark != ''" >
		    and m.remark = #{remark}
		</if>
	</trim>
</sql>

<insert id="add" parameterType="Object" >
	insert into sys_acid(acidBatch,slaughterBatchId,slaughterQuantity,acidNo,principal,startTime,endTime,createTime,remark)
	values(#{acidBatch},#{slaughterBatchId},#{slaughterQuantity},#{acidNo},#{principal},#{startTime},#{endTime},#{createTime}
	,#{remark})
</insert>

<update id="updateBySelective" parameterType="Object" >
	update sys_acid set 
	<trim suffixOverrides="," >
		<if test="acidBatch != null and acidBatch != ''" >
		    acidBatch = #{acidBatch},
		</if>
		<if test="slaughterBatchId != null and slaughterBatchId > 0" >
		    slaughterBatchId = #{slaughterBatchId},
		</if>
		<if test="slaughterQuantity != null and slaughterQuantity != ''" >
		    slaughterQuantity = #{slaughterQuantity},
		</if>
		<if test="acidNo != null and acidNo != ''" >
		    acidNo = #{acidNo},
		</if>
		<if test="principal != null and principal != ''" >
		    principal = #{principal},
		</if>
		<if test="startTime != null and startTime != ''" >
		    startTime = #{startTime},
		</if>
		<if test="endTime != null and endTime != ''" >
		    endTime = #{endTime},
		</if>
		<if test="createTime != null and createTime != ''" >
		    createTime = #{createTime},
		</if>
		<if test="remark != null and remark != ''" >
		    remark = #{remark}
		</if>
	</trim> where id=#{id}
</update>

<delete id="delete" parameterType="Object">
	delete from sys_acid where id = #{id}
</delete>

<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/>,n.slaughterBatch from sys_acid m 
	left join sys_slaughter n on n.id = m.slaughterBatchId where m.id = #{id}
</select>

<select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/>,n.slaughterBatch from sys_acid m 
	left join sys_slaughter n on n.id = m.slaughterBatchId
	<include refid="Example_Where_Clause"/> 
</select>
</mapper>