<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finemanagement.dao.iot.SysVideoDao" > 
<resultMap id="BaseResultMap" type="com.finemanagement.entity.iot.SysVideo" >
	<result column="id" property="id"/>
	<result column="equipmentNumber" property="equipmentNumber"/>
	<result column="videoChannelNumber" property="videoChannelNumber"/>
	<result column="videoMonitoringPoint" property="videoMonitoringPoint"/>
	<result column="greenhouseid" property="greenhouseid"/>
	<result column="baseid" property="baseid"/>
	<result column="baseName" property="baseName"/>
	<result column="greenhouseName" property="greenhouseName"/>
</resultMap>

<sql id="Base_Column_List" >
	m.id,m.equipmentNumber,m.videoChannelNumber,m.videoMonitoringPoint,m.greenhouseid,m.baseid
</sql>

<sql id="Example_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null" >
			and m.id = #{id}
		</if>
		<if test="equipmentNumber != null and equipmentNumber != ''" >
		    and m.equipmentNumber = #{equipmentNumber}
		</if>
		<if test="videoChannelNumber != null and videoChannelNumber != ''" >
		    and m.videoChannelNumber = #{videoChannelNumber}
		</if>
		<if test="videoMonitoringPoint != null and videoMonitoringPoint != ''" >
		    and m.videoMonitoringPoint = #{videoMonitoringPoint}
		</if>
		<if test="greenhouseid != null and greenhouseid > 0" >
		    and m.greenhouseid = #{greenhouseid}
		</if>
		<if test="baseid != null and baseid > 0" >
		    and m.baseid = #{baseid}
		</if>
	</trim>
</sql>

<insert id="add" parameterType="Object" >
	insert into sys_video(equipmentNumber,videoChannelNumber,videoMonitoringPoint,greenhouseid,baseid)
	values(#{equipmentNumber},#{videoChannelNumber},#{videoMonitoringPoint},#{greenhouseid},#{baseid})
</insert>

<update id="updateBySelective" parameterType="Object" >
	update sys_video set 
	<trim suffixOverrides="," >
	<if test="equipmentNumber != null and equipmentNumber != ''" >
	    equipmentNumber = #{equipmentNumber},
	</if>
	<if test="videoChannelNumber != null and videoChannelNumber != ''" >
	    videoChannelNumber = #{videoChannelNumber},
	</if>
	<if test="videoMonitoringPoint != null and videoMonitoringPoint != ''" >
	    videoMonitoringPoint = #{videoMonitoringPoint},
	</if>
	<if test="greenhouseid != null and greenhouseid > 0" >
	    greenhouseid = #{greenhouseid},
	</if>
	<if test="baseid != null and baseid > 0" >
	    baseid = #{baseid},
	</if>
	</trim> where id=#{id}
</update>

<delete id="delete" parameterType="Object">
	delete from sys_video where id = #{id}
</delete>

<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" />,b.baseName,g.name as greenhouseName from sys_video m 
	left join sys_base b on m.baseid = b.id
	left join sys_greenhouse g on m.greenhouseid = g.id
	where m.id = #{id}
</select>

<select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List"/>,b.baseName,g.name as greenhouseName from sys_video m 
	left join sys_base b on m.baseid = b.id
	left join sys_greenhouse g on m.greenhouseid = g.id
	<include refid="Example_Where_Clause"/> 
</select>
</mapper>